**Introduction to Python**<br/>
Prof. Dr. Jan Kirenz <br/>
Hochschule der Medien Stuttgart

In [1]:
import pandas as pd

## Import data

In [2]:
# Import data from GitHub (or from your local computer)
df = pd.read_csv("https://raw.githubusercontent.com/kirenz/datasets/master/wage.csv")

## Data transformation

### Descriptive statistics

#### Measures of central tendency

First of all we obtain some common statistics per variable.

In [3]:
# mode
df['age'].mode()

0    40
dtype: int64

In [4]:
# calculation of the mean (e.g. for age)
df["age"].mean()

42.41466666666667

In [5]:
# calculation of the mean (e.g. for age) and round the result
round(df["age"].mean(), 2)

42.41

In [8]:
# calculation of the median (e.g. for age)
df["age"].median()

42.0

In [7]:
# print a text with the output
age_median = df["age"].median()

print("The median of age is", age_median)

The median of age is 42.0

In [8]:
# use a function to print a text with the output
print(f'The median of age is {df["age"].median()}')

The median of age is 42.0

#### Measures of dispersion

In [11]:
# quantiles
df['age'].quantile([.25, .5, .75])

0.25    33.75
0.50    42.00
0.75    51.00
Name: age, dtype: float64

In [12]:
# Range
df['age'].max() - df['age'].min()

62

In [13]:
# standard deviation
round(df['age'].std(),2)

11.54

#### Summary statistics

In [9]:
# summary statistics for all numerical columns
round(df.describe(),2)

       Unnamed: 0     year      age  logwage     wage
count     3000.00  3000.00  3000.00  3000.00  3000.00
mean    218883.37  2005.79    42.41     4.65   111.70
std     145654.07     2.03    11.54     0.35    41.73
min       7373.00  2003.00    18.00     3.00    20.09
25%      85622.25  2004.00    33.75     4.45    85.38
50%     228799.50  2006.00    42.00     4.65   104.92
75%     374759.50  2008.00    51.00     4.86   128.68
max     453870.00  2009.00    80.00     5.76   318.34

Compare summary statistics for specific groups in the data:

In [10]:
# summary statistics by groups
df['age'].groupby(df['education']).describe()

                    count       mean        std   min   25%   50%    75%   max
education
1. < HS Grad        268.0  41.794776  12.611111  18.0  33.0  41.5  50.25  75.0
2. HS Grad          971.0  42.217302  12.023480  18.0  33.0  42.0  50.00  80.0
3. Some College     650.0  40.887692  11.523327  18.0  32.0  40.0  49.00  80.0
4. College Grad     685.0  42.773723  10.902406  22.0  34.0  43.0  51.00  76.0
5. Advanced Degree  426.0  45.007042  10.263468  25.0  38.0  44.0  53.00  76.0